---
import {getCollection, render, type CollectionEntry} from "astro:content";
import {getReadTime} from '../../lib/readTime'
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/Hero.astro";
import Link from "../../components/Link.astro";

type ProjectEntry = CollectionEntry<'projects'>;

export async function getStaticPaths() {
    const projects = await getCollection("projects");
    return projects.map((project: ProjectEntry) => ({
        params: {projectSlug: project.data.slug},
        props: {project},
    }));
}
const {project} = Astro.props;
const typeProject = project as ProjectEntry;
const {Content} = await render(project);
---
<Layout pageTitle="leeco.dev">
    <Hero slot="hero">
        <section class="flex flex-col gap-2 text-center">
            <h1 class="text-4xl font-bold">{typeProject.data.title}</h1>
            <p class="text-lg">{typeProject.data.date}</p>
        </section>
    </Hero>
    <section class="flex flex-row justify-between items-center mb-6">
        <Link href="/">← Go back</Link>
        <p class="font-semibold">{getReadTime(typeProject.body)} Minute read</p>
    </section>
    <article class="projects-container">
        <Content/>
    </article>
</Layout>